<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>localData test</p>
    <ul>
      <% data.data.test.forEach( function ( item ) {%>
  
        <li>
          <span> 商品名称: <%= item.name %> </span>  
          <span> 商品信息:<%= item.info %> </span>
        </li>
      <%})%>
    </ul>
  </body>
</html>
